@media (max-width: 670px) { 
   
    #map{
        width: 90%; 
        height: 80%;   
    }
    .fa-times-circle{
        position: absolute;
        top: 20px;
        right: 5%;
        font-size: 24px;
    }
    .adresText{
        margin-top: 25px;
    }
    /* ---------------------------------------------------- */
/* ---------------------------------------------------- */
    .icon_phone,
    .local-map{
        display: block;
        padding: 3px 10px;
        max-width: max-content;
        background-color: rgba(0,180,0,0.99); 
        border-radius: 5px;
    }
    .local-map{
        font-size: 16px; 
        color: #fff;
    }
    .icon_phone .fa-phone-alt{        
        font-size: 16px;        
    }
    #modal{
        display: none;  
        max-width: 100%;
        margin: 0 auto;        
    }
    #widget_iframe_widget{
       max-width: 100%;
       margin: 0 auto; 
    }
 /* !-- css Header */  
    .header_home{
        margin-bottom: 0;
    }
    header nav{
        max-width: 100%;
        height: 100px;             
    }
    header nav ul{
        display: none;
        position: absolute;
        overflow: hidden;
        top: 100px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        z-index: 3;        
    }
    header nav li{
        float: none;
        font-size: 14px;
        letter-spacing: 1.5px;
        font-weight: 500;
        margin: 5px 0 0 40px;                      
    }
    .li-active{
        padding: 3px 10px;       
    }         
    header nav a{
        color: #fff;
        width: 100%;
        padding: 3px;
        border-radius: 5px; 
    }
    header nav a:hover{
        color: #fff;
        background-color: rgba(0,0,0,0.2);
    }    
    .nav-toggle{
        display: block;
        position: absolute;
        top: 30px;
        right: 15px;
        width: 45px;
        height: 35px;
        padding: 3px;
        text-align: center;  
        border: 1.2px solid #fff;
        border-radius: 5px;
    }
    .fa-bars{
        color: #fff;
        font-size: 26px;
    }

/* -------------------------------------------------------------- */
  
/* !---css bloc logo-Onas */       
    .logo-block{
        position: absolute; 
        top: 8px;
        left: 25px;                
        max-width: 100%;
        max-height: 60px;                       
    }
    .logo{
        display: block;
        background-image: url(../image/logo.png);
        background-size: 100% 100%;
        max-width: 90%;
        height: 50px;           
    }
    .logo-block p{
        max-width: max-content;
    }
    .logo-block p a{                
        font-size: 10px;
        color: rgba(250, 250, 250, 0.99);
        margin: 0;
    }
    .logo-block a:hover{
        color: rgba(250, 250, 250, 0.99);
    }
    /* !--- css icon soc.seti */
    .icon-header{
        position: absolute;
        top: 30px;
        right: 75px;
    }
    .adres{
        display: none;
        position: absolute;
        top: 20px;
        left: 210px;
        font-size: 14px;
        color: #fff;
    }
    .tel{
        display: none;
        position: absolute;
        top: 43px;
        left: 210px;
        color: #fff;
    }
    .adresTel i{
        width: 32px;
        height: 32px;
        font-size: 20px;
        color: #fff;
        line-height: 1em;
        margin-right: 6px;
        border-radius: 40px;        
    }
    header .fa-facebook-f{
        background-color: rgba(80, 1, 228, 0.99);
        padding: 5px;
    }
    header .fa-vk{
        background-color: rgba(15,135,255,0.99);
        padding-top: 5px;
    }
    header .fa-instagram{
        background-color: rgba(255,110,144,0.99);
        padding: 5px;
    }

    .btnHeader{
        min-width: max-content;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;        
    }
    .btnHeader button{
        font-size: 14px;      
    }

/* ------------------------------------------------------ */
/* ----------------------------------------------------- */

/* !---css main */
    main{
        max-width: 100%;
        text-align: center;
    }
/* !---css block-1 */
    .block-1{
        max-width: 100%; 
        background-image: none;
    }
    .h2_block-1{
        font-size: 1.2em;
        font-weight: bold;
        background-color: transparent;
        /* background-color:  rgba(247, 138, 6, 0.99); */
        color: rgba(247,138,6, 0.99);
        max-width: max-content;
        position: relative;
        top: 20px;
        padding: 10px;
        border-radius: 5px; 
        margin: 0 auto; 
    }
    .modul_tyr{
        margin-top: 100px;
    }
/* !---css block-2 */
    .block-2{
        margin-top: 100px;
        padding: 20px;
    }
    .tyr-operator{
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(120, 120, 120, 0.6);
    }
    .tyr-operator h6{
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        color: rgba(120, 120, 120, 0.8);
        font-weight: normal;
        font-size: 14px;
        overflow: hidden;
    }
.tyr-operator h6::before,
.tyr-operator h6::after{
   content: ' ';
   display: inline-block;
   vertical-align: middle;
   box-sizing: border-box;
   width: 5%;
   border-top:  1px solid rgba(120, 120, 120, 0.3);
   margin: 0 3px;
}
.tyr-operator img{
    width: 70px;                       
    margin-right: 2px;
}
/* !---css card block-2 */
    .card-bl-2{
        width: 100%;
    }
    .card-bl-2 h5{
        font-size: 16px;
    }
    .card-bl-2 p{
        font-size: 14px;
    }
    .card-bl-2 img{
       padding: 0;
       height: 150px;
    }

/*  !--- css block-3 */
/* .block-3{tv-image-slider
        background-color: rgba(150, 150, 150, 0.3);
        width: 100%;
        
        /* border-top: 1px solid rgba(120, 120, 120, 0.6); */
        /* border-bottom: 1px solid rgba(120, 120, 120, 0.6); */
 /* } */  

 .TVFadeSlider{
     max-width: 100%;
 }
/*  !-- css block-4 */
/* .block-4{        
    width: 100%;
    height: 290px;     
}
.block-4 h3{
    margin-top: 30px;
    height: 290px; 
} */
/*  !---css block-5 */
.block-5{
    position: relative;
    width: 100%;
    height: 340px;
    background-image: url(../image/bg-block-5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 10px 8px rgba(50,50,50,0.5), inset 0 -10px 8px rgba(50,50,50, 0.5); ;
}
.wrapp-b-5{
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100, 0.25);
    text-align: left;
}
.block-5 article{
    position: relative;
    width: 100%;
    height: 100%;

}
.block-5 article h2{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
}
.block-5 article span{
    margin-left: 0px;
}
.o-nas{  
    display: none;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color:rgba(250,250,250,0.99);
    width: max-content;            
}
.o-nas li{
    list-style: none;
    font-size: 12px;
    margin: 5px; 
}
.btn-2{
    position: absolute;
    right: 10px;
    margin: 0 auto;
    bottom: 25px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 3px;

}

/* ------------------------------------------------ */
/* -------------------------------------- */
/* ---------------------------------------- */
/* -------------------------------- */
/* !---css footer */

.footer_page{ 
    position: relative;
    bottom: -270px; 
    width: 100%;
    height: 150px;
    background-color: rgba(50,50,50,0.9);
    padding-top: 7px;
}
/* ------------------------------------------ */
/* !---css footer */
    .footer_home{ 
        position: relative;
        bottom: 0px;    
        width: 100%;
        height: 180px;
        background-color: rgba(50,50,50,0.9);
        padding-top: 15px;
    }

    .footer-nav{
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-nav li{
         display: none;
        float: left;
        margin: 5px 5px;
    }
    .footer-nav a{
        font-size: 12px;
        color: #fff;
    }
    footer a:hover{
        color: rgba(255,178,0, 0.99);
    }
    .messeges-block{
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .messeges-block a{
        display: inline-block;
        color: #fff;
        width: 35px;
        height: 35px;
        font-size: 18px;
        text-align: center;
        border: 1.5px solid #fff;
        border-radius: 50%;
        padding: 2px;
        margin: 5px;
    }
    .footer_text-companu{
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 100%;
        margin-top: 50px;
    }
    .fa-copyright{
        font-size: 12px;
    }

} 


 